:root {
    --cells-size: 4.5rem; /*Cambia el tamaño del cuadro del sudoku*/
    --borders-table: calc(var(--cells-size) * (2 / 100)) solid gray;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    align-items: center;
}

.sudoku {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

table {
    border-collapse: collapse;
    height: calc(var(--cells-size) * 9);
}

.input-container {
    max-width: fit-content;
    border: var(--borders-table);
    transition: 20ms ease;
}

.input-container input {
    height: var(--cells-size);
    width: var(--cells-size);
    border: none;
    outline: none;
    text-align: center;
    font-size: calc(var(--cells-size) - 20%);
    caret-color: transparent;
    cursor: default;
}

.input-container input:read-only {
    color: rgb(107, 107, 107);
}

.input-container [is-valid-num="true"] {
    color: #229954;
}

.input-container [is-valid-num="false"] {
    color: #C0392B;
}

.fa-heart {
    color: red;
    margin: 0 0.2rem;
}