:root {
    --cells-size: 4.5rem; /*Cambia el tamaño del cuadro del sudoku*/
    --borders-table: calc(var(--cells-size) * (2 / 100)) solid gray;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
    height: calc(var(--cells-size) * 9);
}

.input-container {
    max-width: fit-content;
    border: var(--borders-table);
    transition: 20ms ease;
}

.input-container input {
    height: var(--cells-size);
    width: var(--cells-size);
    border: none;
    outline: none;
    text-align: center;
    font-size: calc(var(--cells-size) - 20%);
    caret-color: transparent;
}

.input-container input:read-only {
    color: rgb(113, 113, 113);
    background-color: rgb(218, 218, 218);
}

.input-container [is-valid-num="true"] {
    background-color: #82E0AA;
    color: #229954;
}

.input-container [is-valid-num="false"] {
    background-color: #F1948A;
    color: #C0392B;
}